@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sourcd</h1>
    <p class="lead">Get your favorite snacks delivered right to your home.</p>
    <img src="http://www.cinramgroup.com/wp-content/uploads/2015/05/boxes_summerpicnic_4.jpg" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>See Our Collection</h2>
        <p>
            Our handpicked selection of delicious snacks.
        </p>
        <div>@Html.ActionLink("Learn More", "Index", "FoodBoxes")</div>
    </div>
    <div class="col-md-4">
        <h2>Your Profile</h2>
        <div>@Html.ActionLink("Your Profile", "UserProfile", "Users")</div>
    </div>
</div>